:root {
    --grisClaro: #eef0f2;
    --grisMedio: #c6c7c4;
    --saturadoClaro: #a2999e;
    --saturadoOscuro: #846a6a;
    --grisOscuro: #353b3c;
}

.novedades-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}


.novedades {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 3rem;
    color: var(--saturadoOscuro);
    font-weight: bold;
}

.carousel-news {
    min-width: 70vw !important;
    height: 70vh !important;
}

.carousel-news h3 {
    font-size: 1.2rem;
    padding: 20px !important;
}

.carousel-news .tags {
    padding: 0px 20px !important;
}

.novedades-page .carousel-news .detallesBlog .contenidoEntero {
    padding: 20px 80px !important;
}


.botones-novedades {
    position: absolute !important;
    width: 100%;
    /* margin-left: 15vw; */
}

.carousel-item-news {
    background-color: var(--grisClaro);
    border-radius: 1rem;
    box-shadow: 0 0 10px var(--grisOscuro);
    transition: all 0.3s;
    cursor: pointer;
}

.carousel-item-news:hover {
    filter: brightness(1.1);
}