:root {
    --grisClaro: #eef0f2;
    --grisMedio: #c6c7c4;
    --saturadoClaro: #a2999e;
    --saturadoOscuro: #846a6a;
    --grisOscuro: #353b3c;
}

.carousel-news{
   box-shadow: 2px 2px 10px var(--grisOscuro);
   border-radius: 1rem;
   overflow: hidden;
   width: 80%;
}

.carousel-item-news{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
   background-color: var(--grisClaro);
   border-radius: 1rem;
   box-shadow: 0 0 10px var(--grisOscuro);
   transition: all 0.3s;
   cursor: pointer;
}

.carousel-item-news:hover{
   filter: brightness(1.1);
}

.buttonDirection-news{
   background-color: var(--saturadoClaro);
   color: var(--grisClaro);
   transition: all 0.3s;
   cursor: pointer;
}

.buttonDirection-news:hover{
   background-color: var(--saturadoOscuro);
}

.item-title-news{
   font-size: 1.5em !important;
   font-weight: bold;
   color: var(--grisMedio);
   margin: 0;
   padding: 0;
   text-align: center;
   background-color: var(--saturadoOscuro);
}

.item-text-news{
   font-size: 1em;
   margin: 0;
   padding: 1rem;
   text-align: center;
}

.item-tag-news{
   font-size: 0.8em;
   margin: 0;
   padding: 0.5rem;
   text-align: center;
   position: relative;
   bottom: 0;
}

.item-author-news{
   font-size: 1em;
   margin: 0;
   padding: 1rem;
   text-align: center;
   background-color: var(--saturadoClaro);
}