:root {
    --grisClaro: #eef0f2;
    --grisMeio: #c6c7c4;
    --saturadoClaro: #a2999e;
    --saturadoOscuro: #846a6a;
    --grisOscuro: #353b3c;
}

.admin-user-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--grisClaro); /* Establece el fondo como grisClaro */
  width: 500px; /* Ajusta el valor según tus necesidades */
  padding: 10px; /* Ajusta el valor según tus necesidades */
}

.admin-user-image {
  max-width: 100px; /* Ajusta el valor según tus necesidades */
  max-height: 100px; /* Ajusta el valor según tus necesidades */
  object-fit: cover; /* Asegura que la imagen se ajuste al contenedor sin distorsión */
}

.user-name {
  flex-grow: 1;
  text-align: center;
  margin: 0 20px; /* Ajusta el valor según tus necesidades */
  color: var(--grisOscuro); /* Establece el color del texto como grisOscuro */
}


.view-posts-button, .delete-button {
  padding: 5px 10px; /* Ajusta el valor según tus necesidades */
  margin-top: 5px; /* Ajusta el valor según tus necesidades */
}

.delete-button {
  background-color: red; /* Establece el fondo del botón como rojo */
  color: white; /* Establece el color del texto como blanco */
  border: none; /* Elimina el borde del botón */
  cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
}

.view-posts-button {
  background-color: var(--saturadoOscuro); /* Establece el fondo del botón como saturadoOscuro */
  color: white; /* Establece el color del texto como blanco */
  border: none; /* Elimina el borde del botón */
  cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
}