.likeButton {
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
    border: none;
    background-color: #846a6a;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    overflow: hidden;
}

.likeButton:hover {
    transform: scale(1.1);
}

.likeButton img {
    width: 95%;
    height: 95%;
    object-fit: contain;
}
