.create-post-btn {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: none;
    background-color: #846a6a;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    overflow: hidden;
    position: fixed;
    bottom: 35%;
    right: 2%;

    img {
        width: 70%;
        height: 70%;
        object-fit: contain;
        transform: translateX(5%);
    }
}

.create-post-btn:hover {
    transform: scale(1.1);
}