:root{
    --grisClaro: #eef0f2;
 --grisMedio: #c6c7c4;
 --saturadoClaro: #a2999e; 
 --saturadoOscuro: #846a6a;
 --grisOscuro: #353b3c;
 } 

 .author-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-block: 2rem;
    width: 100%;
    overflow: hidden;
    height: 80vw;

    div{
        width: 80%;
    }
 }


.author{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 3rem;
    color: var(--saturadoOscuro);
    font-weight: bold;
}