.editor{
    overflow: hidden;
    padding: 0;
    width: 80%;
    margin: 0 auto;
    border: 1px solid #000;
    background-color: white;
    border-radius: 5px;
    margin: 10px auto;
}

.editor-title, .categorie-dropdown{
    width: 80%;
    margin: 0 auto;
}

.editor-title > label, .categorie-dropdown > label > div > span{
    font-family: "Special Elite";
    font-size: 1.728rem;
    color: var(--grisOscuro);
}

.editor-title > input, .categorie-dropdown > label > select{
    font-family: Helvetica, sans-serif;
    font-size: 1.2rem;
    color: black;
    background-color: white !important;
    margin-inline-start: 5px;
    padding-inline-start: 5px;
    border-radius: 5px;
    border: 1px solid black;
}

.categorie-dropdown > label > select{
    width: 200px;
}

.yoopta-editor{
    box-sizing: border-box;
    width: calc(100% - 50px) !important;
    margin-inline-start: 50px;
}

.editor-btns{
    margin: 0 auto;
    width: 80%;
    display: flex;
    justify-content: center;
}

.editor-btns > .btn{
    font-family: var(--font-family);
    color: white;
    background-color: #353b3c !important;
}

.editor-btns .btn:first-of-type{
    background-color: #846a6a !important;
}

.post-preview{
    width: 80%;
    margin: 0 auto;
}