:root {
    --grisClaro: #eef0f2;
    --grisMedio: #c6c7c4;
    --saturadoClaro: #a2999e;
    --saturadoOscuro: #846a6a;
    --grisOscuro: #353b3c;
}

.novedades-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-block: 2rem;
    width: 100%;
    overflow: hidden;
    height: 80vw;
}


.novedades {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 3rem;
    color: var(--saturadoOscuro);
    font-weight: bold;
}

:root {
    --grisClaro: #eef0f2;
    --grisMedio: #c6c7c4;
    --saturadoClaro: #a2999e;
    --saturadoOscuro: #846a6a;
    --grisOscuro: #353b3c;
}

.carousel-news {
    min-width: 70vw !important;
    height: 50vh !important;

}

.carousel-news h3 {
    font-size: 1.2rem;
    padding: 0px !important;
}

.carousel-news .tags {
    padding: 0px 20px !important;
}

.carousel-item-news {
    background-color: var(--grisClaro);
    border-radius: 1rem;
    box-shadow: 0 0 10px var(--grisOscuro);
    transition: all 0.3s;
    cursor: pointer;
}

.carousel-item-news:hover {
    filter: brightness(1.1);
}