/* Paleta de color: 

#eef0f2 → Gris claro 
#c6c7c4 → Gris medio 
#a2999e → Saturado claro 
#846a6a → Saturado oscuro 
#353b3c → Gris oscuro */
.cardForm, .modal-content{
    border-radius: 1.5rem !important;
    box-shadow: 2px 2px 5px 5px grey;
    padding: 0;
    border: none !important;
    font-family: 'Helvetica' , 'sans-serif';
}

/* img{
    width: 2rem;
} */

.headerForm{
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: #353b3c !important;
    border-radius: 1.5rem 1.5rem 0 0  !important;
    padding-right: 1.5rem !important;
}
.headerForm>h1{
    color: #846a6a ;
    font-family: 'Abril Fatface';
}

.modal-header{
    padding: 0;
}

.formLabel{
    color: #846a6a ;
    font-size: 1.3rem;
}

.botonForm{
    background-color:  #846a6a !important;
    border: none !important;
    border-radius: 1.2rem !important;
    width: 14rem !important;
}

.crearCuenta{
    color: #846a6a ;
}
.footerForm{
    font-size: 0.8rem;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

.footerForm p{
    width: 100%;
    margin: 0;
}

#rememberMe{
    box-shadow: 1px 1px 3px grey , -1px -1px 3px grey;
}
#terms{
    box-shadow: 1px 1px 3px grey , -1px -1px 3px grey;
}
input{
    background-color: #c6c7c4 !important;
}

button[aria-label="Close"] {
    background-color: #eef0f2 !important;
}


@media (min-width: 992px){
    .cardForm{
        width: 30rem;
    }
}