@import "tailwindcss";
@plugin "daisyui";

.abril-fatface-regular {
  font-family: "Abril Fatface", serif;
  font-weight: 400;
  font-style: normal;
}

:root {
  background-color: var(--grisMeio);

}

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

.special-elite-regular {
  font-family: "Special Elite", serif;
  font-weight: 400;
  font-style: normal;
}

/* Opcional
.dancing-script-regular {
  font-family: "Dancing Script", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}*/