.cardSinSeleccionar {
    font-size: 1.25 rem !important; /* Ajusta el tamaño de la fuente según el ancho de la ventana */
    background-color: #c6c7c4 !important;
    border: none !important;
    font-family: "Special Elite", serif !important;
}

.cardsSeleccionadas {
    font-size: 1.25 rem !important; /* Ajusta el tamaño de la fuente según el ancho de la ventana */
    background-color: #c6c7c4 !important;
    border: none !important;
    font-family: "Special Elite", serif !important;
    color: #a2999e !important;
}

.buscadorMovil {
    width: 15.13 rem;
    height: 1.81 rem;
    text-align: center;
}

.buscadorWeb {
    width: 3.75 rem;
    height: 0.016 rem;
    text-align: center;
}