footer {
    width: 100%;
    position: fixed;
    bottom: 30px;
    left: 0;
    font-family: Helvetica, sans-serif;
    background-color: #353b3c;
    color: #846a6a;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
  }
  
  footer a {
    color: #846a6a;
    text-decoration: none;
  }
  
  footer a:hover {
    text-decoration: underline;
    color: #a2999e;
  }

  ul {
    margin: 0; 
  } 