.dashboardTitle{
    font-size: 2.5rem;
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: 0;
    color: #846a6a;
    font-family: 'Abril Fatface', 'cursive';
    text-align: center;
}



.dashboardGraphics{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-height: 100vw;
}


.tooltipGraphicDashboard, .circleGraphicDashboard, .areaChartDashboard{
    width: 70%;
}


@media(min-width: 768px){
    .tooltipGraphicDashboard, .circleGraphicDashboard, .areaChartDashboard{
        width: 45% !important;
    }
}