.category {
    /* backgroundImage: `url(${imageUrl})`; */
    background-size: 'cover';
    background-position: 'center';
    height: '200px';
    display: 'flex';
    align-items: 'center';
    justify-content: 'center';
    color: 'white';
    font-size: '24px';
    font-weight: 'bold';
    text-shadow: '2px 2px 4px rgba(0; 0; 0; 0.5)';
    width: 100%;
    background-color: lightblue;
}