.FormElementProfile {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 15px;
}

.changeButton {
    width: auto; /* Ajuste al tamaño del texto */
    padding: 10px 20px; /* Espaciado interno */
    display: inline-block;
    text-align: center;
    border: none;
    background-color: red;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

/* En tu archivo CSS */
.profileContainer {
    font-family: Helvetica, sans-serif !important;
    /* abril fatface*/
}

.profileContainer p{
    color: #846a6a;
}
  
